body{
    background: #085e5e;
}

h1{
    color: white;
    text-align: center;
}

form{
    text-align: center;
}

input[type="text"]{
    outline: none;
    text-align: center;
    border-radius: 10px;
    font-size: 25px;
}

input[type="submit"]{
    font-size: 20px;
    margin-top: 15px;
    border-radius: 5px;
    background: #095e44;
    color: white;
    width: 100px;
}

input[type="submit"]:hover{
    background: #10976f;
    cursor: pointer;
    box-shadow: 2px 2px 10px black;
}

.to-list{
    display: block;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 20px;
    background: #095e44;
    color: white;
    width: 100px;
}

.to-list:hover{
    background: #10976f;
    cursor: pointer;
    box-shadow: 2px 2px 10px black;
}

.list-names{
    display: block;
    width: 300px;
    margin: 0 auto;
    color: white;
}

.list-names button{
    background-color: rgb(179, 0, 0);
    font-size: 18px;
    border-radius: 10px;
    margin-top: 5px;
    color: white;
    padding: 5px 10px;
}

.list-names button:hover{
    background-color: rgb(216, 0, 0);
    box-shadow: 2px 2px 10px black;
}

.list-names a{
    margin-left: 20px;
    font-size: 25px;
}

.adult{
    text-decoration: underline;
    color: green;
}

.no-adult{
    color: red;
}